<strong>Olá, {{ student }}</strong>
<p>O seu pedido de auxílio foi respondido!</p>
<p>
  <strong>Pedido: </strong> {{ question }} <br />
  <strong>Data do Pedido: </strong> {{ answer_date }} <br />
  <strong>Data da Resposta: </strong> {{ created_help_date }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <p>
    <strong>Estamos à sua disposição. </strong>
  </p>
</p>
