<strong>Olá, {{ student }}</strong>
<p>A sua matrícula na GymPoint foi realizada com sucesso!</p>
<p>
  <strong>Inscrição: </strong> {{ enrollment }} <br />
  <strong>Plano Selecionado: </strong> {{ plan }} <br />
  <strong>Valor Total: </strong> {{ enrollmentPrice }} <br />
  <strong>Data do término: </strong> {{ endDate }} <br />
  <br />
  <p>
    <strong>Seja Bem Vindo!</strong> estamos à sua disposição.
  </p>
</p>
